
body{
    background-color: black;
}
.formulary h1{
    text-align: center;
    font-size: 40px;
    color: white;
}
form{
    color: aliceblue;
}

form button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(250, 193, 46);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-top: 25px;
    font-size: 20px;
}
.formbutton{
    display: flex;
    justify-content: center;
}


form input, select{
    display: flex;
    border-radius:  5px;
    height: 25px;
}
#nome{
    width: 494px;
}
#email{
    width: 494px;
}
.senha{
    display: flex;
    justify-content: space-between;
}

.senha div input{
    width: 235px;
}

.cidade-estado{
    display: flex;
    justify-content: space-between;
}
.cidade input{
    width: 235px;

}
.est select{
   width: 120px;
}
.tel-pais{
    display: flex;
    justify-content: space-between;
}
.tel input{
    width: 235px;
}
.ps input{
    width: 120px;
}


.formulary{
    display: flex;
    justify-content: center;
}






#formulario_login{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: auto;
    width: 250px;
}

.lembrarsenha{
    display: flex;
    align-items: center;
}
.lembrarsenha input{
    width: 15px;
    height: 15px;
}
.lembrarsenha input:checked{
    background-color:  rgb(250, 193, 46);
    width: 20px;
    height: 20px;
}
.senhaesquecida{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.senhaesquecida a{
    font-size: 10px;
    color: aliceblue;
    text-decoration: none;
}
.senhaesquecida a:hover{
    color: aqua;
}

#formulario_register{
    display: block;
    position: absolute;
    top: auto;
    width: 500px;
    border: 2px;
    border-color: aliceblue;
}
#formulario_register p{
    text-align: center;
}
.emaillog input{
    width: 250px;
}
.senhalog input{
    width: 250px;

}